name: ci

on:
  pull_request:
  push:
    branches: [develop, main]
    tags: ["[0-9]+.[0-9]+.[0-9]+*"]
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: opentofu/setup-opentofu@000eeb8522f0572907c393e8151076c205fdba1b # v1.0.6
        with:
          tofu_version: ${{ vars.TOFU_VERSION }}
          tofu_wrapper: false
      - name: Check Terraform/OpenTofu formatting with terraform fmt
        run: tofu fmt -check -diff -recursive
      - name: Install Prettier
        run: npm i -g "prettier@${{ vars.PRETTIER_VERSION }}"
      - name: Check web code formatting with Prettier
        run: prettier . --check
